.bold {
  font-weight: $font-weight-bold;
}

.text-align- {
  &left {     text-align: left;     justify-content: flex-start; }
  &center {   text-align: center;   justify-content: center; }
  &right {    text-align: right;    justify-content: flex-end; }
}

.primary-text {
  color: $primary;
}

.signature-text {
  color: $signature;
}