.room-overview-box {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 4px;
  min-width: fit-content;
  width: 100%;

  & > &--room-data {
    background-color: rgba($white, 0.2);
    padding: 0.5rem;

    span + span {
      margin-left: 1rem;
    }

  }

  & > &--member-list {
    display: flex;
    flex-direction: column;

    .member-list-row {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      width: 100%;

      &:not(:last-of-type) {
        border-bottom: 2px solid $backgroundLight;
      }

      .profile-picture {
        margin-right: 1rem;
      }
    }
  }
}