#screenGame {
  height: 100%;
}

#memberList {
  display: block;
  margin-bottom: 15px;
  float: left;
  margin-right: 15px;

  .member-list-row {
    display: block;
    padding: 10px;
    border: 1px solid #242526;
    border-radius: 5px;
    width: 100%;

    .profile-picture {
      margin-bottom: 1rem;
    }
  }

  .member-list-row:not(:last-of-type) {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}