#stadtLandFluss {
    width: 100%;
}

.boldChildren > * {
    font-weight: bold;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}

table {
    th {
        text-align: left;
    }
}

#gameConfig {
    margin-top: 20px;
    display: table;
    border-collapse: separate;
    border-spacing: 0 1em;
    width: 100%;

    div.settingsWrapper {
        div.configRow {
            width: 100%;
            margin: 10px;
            display: table-row;

            label {
                vertical-align: top;
                width: 1%;
            }

            *[readonly=""] {
                background-color: #999999;
                color: #00000055;
            }

            label, input, textarea {
                display: table-cell;
                padding: 5px;
            }
        }
    }

    div.configButtons {
        button + button {
            margin-left: 20px;
        }
    }
}

#slfGuessing {
    margin-top: 20px;

    input.blocked {
        background-color: #666666;
    }

    #submitGuesses.submitted {
        background-color: green;
    }
}

#slfRoundResults {
    margin-top: 20px;

    .points_0 {
        background-color: #7d0c0c;
        text-decoration: line-through;
    }

    .points_10 {
        background-color: #b6b62c;
    }

    .points_20 {
        background-color: #44b744;
    }

    .downvoteButton {
        border: 1px solid white;
        background-color: #7d0c0c;
        color: white;
    }

    .downvoteButton.active {
        background-color: white;
        color: #7d0c0c;
    }
}

#slfEndResult {
    margin-top: 20px;

    img {
        width: 10%;
    }

    tbody {
        tr:nth-of-type(1) {
            color: #fee101;
        }

        tr:nth-of-type(2) {
            color: #a7a7ad;
        }

        tr:nth-of-type(3 ) {
            color: #a77044;
        }

    }
}

#pageContent {
    overflow-y: auto;
}