html,:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $backgroundDark;
}

#pageWrap {
  width: 100%;
  height: 100%;

  #pageContent {
    height: calc(100vh - 6rem);
    margin: 0 1rem 1rem 1rem;
    padding: 0.5rem 1rem;
    background-color: $background;
    border-radius: 4px;
  }
}