$backgroundLight: #464646;
$background: #323232;
$backgroundDark: #242526;
$signature: #7d0c0c;
$primary: #3188c3;

$text-color: rgb(233, 233, 233);

$white: #fff;
$gray-100: #f8f9fc;
$gray-200: #f1f3f9;
$gray-300: #dee3ed;
$gray-400: #c2c9d6;
$gray-500: #8f96a3;
$gray-600: #5e636e;
$gray-700: #2f3237;
$gray-800: #1d1e20;
$gray-900: #111213;
$black: #000;

$error: #b03333;
$info: #2859d7;
$warning: #b6b62c;
$success: #44b744;


$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-family: 'Open Sans', Helvetica, Arial, sans-serif;