.game-config {
    display: flex;
    flex-direction: column;
    background-color: $backgroundLight;
    min-height: 500px;
    padding: 0.5rem;

    .config-box {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem;
        border-radius: 3px;
        transition: 0.2s ease-in-out background-color;

        &:hover {
            background-color: $background;
        }

        .config-name {
            flex: 0 0 15rem;
            display: flex;
            align-items: center;
        }

        .config-field {
            flex: 1 1 auto;
        }

    }

    button {
        margin: 0.5rem;
    }
}