#roomListBox {

  .room-overview-box {
    margin-bottom: 1rem;

    &.room-create-box {
      border-color: $backgroundLight;

      .room-overview-box--room-data {
        background-color: $backgroundLight;
      }

      .room-overview-box--member-list {
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        cursor: pointer;
      }
    }
  }
}