/*
 * Abstract definitions, that does not belong to one or more specific elements. These should always be first!
 */
@import "abstract/variables";
@import "abstract/global";

/*
 * Definitions for classes and default HTML Tags, that are frequently used in the DOM to shorten component specific styles
 */
@import "elements/frame";
@import "elements/buttons";
@import "elements/text-styles";
@import "elements/loading-spinner";

/*
 * Component style files, containing specific styles for a single component
 */
@import "src/framework/components/PageHeader/PageHeader";
@import "src/framework/components/LoginWindow/LoginWindow";
@import "src/framework/components/RoomOverviewBox/RoomOverviewBox";
@import "src/framework/components/RoomListBox/RoomListBox";
@import "src/framework/components/ProfileImage/ProfileImage";
@import "src/framework/components/GameSelection/GameSelection";

/*
 * Screen style files, containing specific styles for a single page
 */
@import "src/framework/screens/Lobby/Lobby";
@import "src/framework/screens/IdleRoom/IdleRoom";
@import "src/framework/screens/GameRoom/GameRoom";

/*
 * Default import for modules
 */
@import "../../modules/Modules";