#screenIdleRoom {
  display: flex;
  height: 100%;

  .idle-room-overview {
    flex: 0 0 33.33333%;
    min-width: fit-content;
    max-width: 33.33333%;

    padding-right: 1rem;
  }

  .idle-game-selection {
    flex: 0 0 66.66666%;
    min-width: min-content;
    max-width: 66.66666%;

    display: flex;
    flex-direction: column;
  }

}