#gameSelection {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  // scrollbar - firefox
  scrollbar-width: none;
  // scrollbar - webkit
  &::-webkit-scrollbar {
    display: none;
  }



  .game-preview {
    flex: 1 1 25%;
    max-width: 33.33333%;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
      aspect-ratio: 1.5;
      object-fit: cover;
    }

    .preview-hover {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity .2s ease-in-out;
      opacity: 0;
      background-color: $gray-800;
      justify-content: center;
      align-items: center;
    }

    &:hover .preview-hover {
      opacity: .95;
    }
  }
}